# stuff created by SS that we don't want to sync (for now at least)
models/*/*.exe
*.sso
*.ss_new
*.bar
*.rep
*.cov
*.dep
*.hes
*.rpt
*.log
*.cor
*.eva
*.std
*.b0*
*.p0*
*.r0*
*.html
*.csv
ss3_safe_win64.par
runnumber.ss
variance
models/*/plots/
models/old/*
~$*
